# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environnement et Secrets (TRÈS IMPORTANT)
.env
.venv/
.virtualEnviroment/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# PostgreSQL (Si vous utilisez des dumps locaux)
*.sql
*.dump

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db